@font-face{
   font-family: montserrat; 
   src: url(../fonts/Montserrat-Bold.ttf)
 }
@font-face{
   font-family: opensans; 
   src: url(../fonts/OpenSans-Regular.ttf)
 }
 @font-face{
   font-family: adventpro; 
   src: url(../fonts/AdventPro-Regular.ttf)
 }

::-webkit-scrollbar { 
    display: none; 
}

@-moz-document url-prefix() {
    html,body{overflow-y: hidden !important;}
}

*{
	padding: 0;
	margin: 0;
}
 html, body{
	width: 100vw; height: 100vh;
	scroll-behavior: smooth;
}

body{
	background: rgb(210,77,87);
	color: rgb(138,7,7);
	
}

.topBlur{
	width: 100vw;
	height: 100vh;
	/*background: linear-gradient(to top, rgba(210,77,87,0.2),  rgb(210,77,87));*/
	background: linear-gradient(to top, rgba(52,46,46,0.2),  rgb(52,46,46));
}
.bottomBlur{
	width: 100vw;
	height: 100vh;
	/*background: linear-gradient(to bottom, rgba(210,77,87,0.2),  rgb(210,77,87));*/
	background: linear-gradient(to bottom, rgba(52,46,46,0.2),  rgb(52,46,46));
}

header, #cardo{
	width: 100vw;
  	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
  	background-size: cover;
}

header{
	height: 100vh;
	background-image: url("../imgs/me2.jpg");
}

#nav_bar{
	width: 100vw;
	font-family: adventpro;
	color: white;
	font-size: 2.5vw;
	display: flex;
	justify-content: space-evenly;
}
.skill{
	margin-left: 15px;
}

#headerText{
	width: 100vw;
	height: 100vh;

	font-family: montserrat;
	font-size: 13vw;
	color: white;
	text-align: center;
	vertical-align: middle;
}

.section{
	width: 100vw; height: 420px;
	/*background-color: rgb(210,77,87);*/
	background-color: rgb(52,46,46);

}
