@font-face{
   font-family: montserrat; 
   src: url(../fonts/Montserrat-Bold.ttf)
 }
@font-face{
   font-family: opensans; 
   src: url(../fonts/OpenSans-Regular.ttf)
 }
 @font-face{
   font-family: adventpro; 
   src: url(../fonts/AdventPro-Regular.ttf)
 }

::-webkit-scrollbar { 
    display: none; 
}

@-moz-document url-prefix() {
    html,body{
		scrollbar-width: none;
    }
}

*{
	padding: 0;
	margin: 0;
}
 html, body{
	width: 100vw; height: 100vh;
	scroll-behavior: smooth;
}

body{
	/*background: rgb(210,77,87);*/
	background: black;
	color: rgb(138,7,7);
	
}
.bottomBlurBlack{
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to bottom, rgba(52,46,46,0.2),  rgb(52,46,46));
}
.topBlurBlack{
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to top, rgba(52,46,46,0.2),  rgb(52,46,46));
}


.bottomBlurRed{
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to bottom, rgba(138,7,7,0),  rgb(138,7,7));
}
.topBlurRed{
	width: 100vw;
	height: 90vh;
	background: linear-gradient(to top, rgba(138,7,7,0.1),  rgb(138,7,7));
}

.bottomBlurPink{
	width: 100vw;
	height: 90vh;
	background: linear-gradient(to bottom, rgba(210,77,87,0),  rgb(210,77,87));
}

header, #art_3d, #about{
	width: 100vw;
  	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
  	background-size: cover;
}

header{
	height: 100vh;
	background-image: url("../imgs/me.jpg");
}

/*#nav_bar{
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
}
a{
	width: 25vw;
	font-family: adventpro;
	color: white;
	font-size: 2vw;
	text-decoration: none;
	text-align: center;
}
*/
#headerText{
	width: 100vw;

	font-family: montserrat;
	font-size: 13vw;
	color: white;
	text-align: center;
	padding-top: 30vh; 
}

.section{
	color: white;
	width: 100vw;
	/*background-color: rgb(210,77,87);*/
	/*background-color: rgb(52,46,46);*/

}
hr{
	/*margin: 0 30vw 0 5vw;*/
	border: solid .5vh white;
	margin-bottom: 1vh;
}
.sectionHeaderA{
	font-family: montserrat;
	font-size: 7.5vw;
	text-align: left;
	margin-left: 7vw;
}
.sectionHeaderB{
	font-family: montserrat;
	font-size: 7.5vw;
	text-align: right;
	margin-right: 7vw;
}
.sectionContainerA{
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	padding-top: 2vh;
}
.sectionColumn{
	width: 25vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	transition: transform .2s;
}
.sectionColumn:hover{
	transform: scale(1.25);
}

.sectionColumnHeader{
	font-size: 5vw;
	font-family: adventpro;
}
.sectionColumnText{
	font-size: 1.75vw;
	font-family: opensans;
	padding-top: 3vh;	
}
a{
	width: 20vw;
	height: 7vh;
	font-family: adventpro;
	font-size: 3vw;
	color: white;
	text-decoration: none;

	display: block;
	margin: 7.6vh 7vw 0 auto;
	padding-left: 1vw;

	border-top: solid .4vw white;
	border-left: solid .4vw white;
	border-top-left-radius: .5vw;

	transition: .5s;
}
a:hover{
	background-color: white;
}
#pro_game a:hover{
	color: rgb(52,46,46);
}
#writing a:hover{
	color: rgb(138,7,7);
}

#pro_game{
	height: 70vh;
	background-color: rgb(52,46,46);
}
#art_3d{
	height: 100vh;
	/*background-color: order: ange;*/
	background-image: url("../imgs/arcanine.jpg");
	/*clip-path: polygon(0 0, 0 100%, 100% 0px, 0 0);*/
}
#writing{
	height: 70vh;
	background-color: rgb(138,7,7);
}
#about{
	height: 90vh;
	background-image: url("../imgs/blurryface.jpg");
}